/* .login-section{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
  img{
    box-sizing: border-box;
    width: 180px;
    margin: 0 auto 20px;
  }

  form{
    display: flex;
    width: 670px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
    div{
      display: flex;
      flex-direction: column;
    }
  }
}

.login-btn{
    background-color: #3584e4;
    border-radius: 4px;
    padding: 15px;
    color: white;
    font-weight: strong;
    margin-top: 15px;
}

.form-input{
    border-radius: 3px;
    padding: 10px;  
    border: 1px solid #d7d7d7;
}

.inputFormDiv input:focus{
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 3px rgba(74,144,226,0.4);

} */