@import "tailwindcss";

/* .login-section{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logo{
    width: 80px;
    height: 100px;
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
    div{
      display: flex;
      flex-direction: column;
    }
  }
} */