html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* prevent browser scroll outside dashboard */
}

.scrollable-content {
  scrollbar-width: thin;
  scrollbar-color: #b8b8b8 transparent;
}
